@use '../../../../shared/scss/constants.scss';

:host {
  display: block;
  border-left: 2px solid #ddd;
  padding: 8px;
}

.metadatas {
  font-size: 75%;
  color: var(--dwindle);
  display: flex;
  align-items: center;

  > :not(:first-child) {
    margin-left: 16px;
  }
}

.reply {
  color: var(--dwindle-light);
  transition: background-color var(--transition-time) ease, color var(--transition-time) ease;
  padding: 4px;
  border-radius: 4px;

  &:hover {
    color: var(--bg);
    background: var(--dwindle);
  }
}
