@use 'app/shared/scss/constants.scss';

:root {
  font-size: 16px;
  --bg: #eee;
  --dwindle: #666;
  --dwindle-light: #aaa;
  --disabled: #ddd;
  --accent: hsl(126, 38%, 79%);
  --accent-dark: hsl(126, 38%, 54%);
  --error: hsl(0, 100%, 79%);
  --error-dark: hsl(0, 100%, 54%);
  --success: hsl(126, 38%, 79%);
  --success-dark: hsl(126, 38%, 54%);
  --shade-alpha: #{constants.$SHADE_ALPHA};
  --shade: hsla(0, 0%, 0%, var(--shade-alpha));
  --glow: hsla(0, 0%, 100%, var(--shade-alpha));

  --transition-time: 300ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cormorant Garamond', 'Times New Roman', serif;
  letter-spacing: 0.05em;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  color: var(--accent-dark);
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

html {
  min-width: 320px;
  font-family: 'Montserrat', Verdana, sans-serif;
  letter-spacing: 0.02em;
}

body {
  width: 100%;

  &.waiting {
    cursor: wait;

    * {
      cursor: inherit !important;
    }
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  background: unset;
  border: none;
  border-radius: unset;
  cursor: pointer;
}

input,
textarea {
  border-radius: unset;
  border: none;
  outline: none;
}
