:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cormorant Garamond', 'Times New Roman', serif;
  letter-spacing: 0.05em;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  color: hsl(126, 39%, 54%);
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

html {
  min-width: 320px;
  font-family: 'Montserrat', Verdana, sans-serif;
  letter-spacing: 0.02em;
}

body {
  width: 100%;

  &.waiting {
    cursor: wait;

    * {
      cursor: inherit !important;
    }
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  background: unset;
  border: none;
  border-radius: unset;
  cursor: pointer;
}

input,
textarea {
  border-radius: unset;
  border: none;
  outline: none;
}
