:host {
  padding: 0 5px;
}

h2,
h3,
h4 {
  margin: 1.5rem 0;
}

article {
  min-width: 320px;
  max-width: 1024px;
  margin: auto;
  text-align: justify;
  line-height: 160%;

  a {
    color: hsl(126, 39%, 54%);
    text-decoration: underline;
  }

  p {
    margin: 1.5rem 0;
  }

  figure {
    text-align: center;
  }

  img {
    max-height: 80vh;
    object-fit: contain !important;
    cursor: pointer;
  }
}

.metadatas {
  margin-top: 16px;
  font-size: 75%;
  color: #666;
  font-style: italic;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  a {
    text-decoration: underline;
    text-align: center;

    // Trick to avoid the content moving when setting the font-weight to bold
    &::before {
      content: attr(title);
      display: block;
      font-weight: bold;
      height: 0;
      visibility: hidden;
    }

    &:hover {
      font-weight: bold;
    }
  }

  .separator {
    margin: 0 8px;
  }
}

.publish-date {
  margin-left: 16px;
  white-space: nowrap;
}

.wp-block-embed__wrapper {
  iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &::before {
    content: '';
    padding-top: 56.25%;
    display: block;
  }
}

.wp-block-gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5em;
}

.adjacent {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .prev,
  .next {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1em;
    max-width: 40%;

    .label {
      margin: 0 0 0.5rem 0;
    }
  }

  .prev::before,
  .next::after {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    border-top: 0.3em solid currentColor;
    flex: 0 0 auto;
  }

  .prev::before {
    border-left: 0.3em solid currentColor;
    transform: rotate(-45deg);
  }

  .next {
    text-align: right;
    margin-left: auto;

    &::after {
      border-right: 0.3em solid currentColor;
      transform: rotate(45deg);
    }
  }
}
