@use '../../../../shared/scss/constants.scss' as constants;

:host {
  display: block;
  padding: 16px 0;
}

input,
textarea {
  display: block;
  margin: 8px 0;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;

  &.ng-invalid {
    border: 1px solid var(--error-dark);
    border-left-width: 5px;
  }

  &.ng-pristine {
    border: 1px solid #ddd;
  }

  &.ng-valid {
    border: 1px solid var(--success-dark);
    border-left-width: 5px;
  }
}

.content {
  display: inline-block;
  vertical-align: bottom;
  max-width: 100%;
}

button {
  display: inline-block;
  font-size: 16px;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  transition: box-shadow var(--transition-time) ease;
  color: var(--bg);

  &:not(:disabled) {
    background: var(--success-dark);

    &:hover {
      box-shadow: 0 5px 10px var(--shade), 0 0 0 transparent inset;
    }

    &:active {
      box-shadow: 0 0 0 transparent, 0 5px 10px var(--shade) inset;
    }
  }

  &:disabled {
    background: var(--dwindle-light);
    cursor: not-allowed;
  }
}
