:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  width: 100%;
  padding: 5px;
  gap: 5px;
}

fa-preview {
  width: 100%;
  max-width: 480px;
}

fa-preview::before {
  content: '';
  display: block;
  margin-top: 100%;
}

.no-result {
  margin: auto;
  color: #666;
  padding: 20px;
}
