@use '../../../../shared/scss/constants.scss';

:host {
  display: block;
  padding: 20px;
  margin: 5px;
  color: var(--bg);
  border-radius: 10px;
  cursor: pointer;

  transition: transform ease var(--transition-time);

  &:hover {
    transform: scale(1.1);
  }

  &.info {
    background: hsl(0, 0%, 50%);
  }

  &.success {
    background: var(--success);
  }

  &.error {
    background: var(--error);
  }
}
